@import "./../variables/variables.scss";
@import "./../color/color.scss";
* {
  padding: 0;
  margin: 0;
}

.bgImage {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fontTextLeftHeader {
  font-family: $AlmaraiFont;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

.fontTextLeftBody {
  font-family: $AnticDidoneFont;
  font-size: 1rem;
  color: #fff;
}

.alinhamento {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  //Alinhamneto Horizontal
  margin: 0 auto;
  width: 68%;
}

.tamcontainer {
  width: 60rem;
  box-shadow: $shadow;
}

.colorParag {
  color: $corPrimaria;
  font-weight: bold;
}

.message {
  font-family: $AnticDidoneFont;
  font-weight: bold;
  padding: 10px 10px 10px 20px;
  position: fixed;
  top: 25px;
  left: 0px;
  background-color: $corSecundaria;
  border-radius: 0px 30px 30px 0px;
  color: $corPrimaria;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slideend 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slidein {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideend {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.btnLogin:hover {
  color: white;
}

.btnInf:hover {
  color: $corPrimaria;
}

.paddingPagesUp {
  padding-top: $paddingPags;
}

.paddingPagesDown {
  margin-bottom: $paddingPags;
}

a {
  text-decoration: none;
}

.sombra {
  box-shadow: $shadow;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: $corPrimaria;
  color: white;
  width: 20rem;
  height: 20rem;
  position: relative;
  top: -2rem;
  left: 7rem;
  box-shadow: $shadow;
  opacity: 0.5;
  display: none;
}

.form {
  display: hidden;
}
